*{
    box-sizing: border-box;
}
.container{
    width: 1020px;
    margin: 0 auto;
}

body{
    margin: 0;
    padding: 0;
}
header{
    background: url(../image/banner.png) center center no-repeat fixed;
    background-size: cover;
    .leftarrow{
        position: absolute;
        top: 300px;
    }
    .rightarrow{
        position: absolute;
        right: 0;
        top: 300px;
    }
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 70px;

    .player{
        margin-left: 10px;
        video{
            width: 550px;
            height: 330px;
        }
    }

    .text{
        text-align: center;
        display: grid;
        font-size: 63.05px; 
        .yellow{
            color: #f5c506;
            margin: 0 auto;
        }
        .white{
            color: #ffffff;
            margin: 0 auto;
       }
    }
    .logo{
        display: grid;
        grid-template-columns: 20% 80%;
        align-items: center;
        p{
            margin: 0;
            color: #ffffff;
            font-size: 41.05px;
            font-weight: normal;
            text-transform: uppercase;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-variant: small-caps; 
        }
    }
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #f5c506;
        text-align: center;
        a{
            box-shadow: -5px -5px 0 rgba(245,197,6,0.5),
             -10px -10px 0 rgba(245,197,6,0.2);
            border-left: 0.5px solid #dcb105;
            padding: 12px 0;
            font-size: 17.05px;
            font-weight: normal;
            text-transform: uppercase;
            color: #9b7d08;
            text-decoration: none;
            img{
                margin-right: 10px;
            }
        }
    }
}

main{
    background: url(../image/Layer\ 7.png) center center scroll;
    background-size: cover;
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        .imgs{
            margin-top: 50px;
            display: grid;
            justify-items: center;
            p{
                
                text-align: center;
                font-size: 27.05px;
                text-transform: uppercase;
                font-weight: normal;
            }
        }
    }
}
.info_fon{
    background: url(../image/infoback.png) center center no-repeat fixed;
    background-size: cover; 
    .information{
        .pmain{
            margin: 0;
            font-size: 37.05px;
            color: #ffffff; 
            text-transform: uppercase;
            padding: 35px 0;
        }
        

        .info{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            padding-bottom: 160px;
            img{
                justify-self: center;;
            }
            .psubmain{
                margin: 0;
                background: #ec9e03;
                color: #ffffff;
                font-size: 29.05px;
                padding: 25px;
            }
            .twit{
                background: #ec9e03;
                align-self: center;
                padding: 55px 83px 45px;
            }
        }
    }
}

.prefooter{
    background: url(../image/preback.png);
    .adv{
        padding-bottom: 105px;
        p{
            font-size: 43px;
            text-transform: uppercase;
            text-align: center;
            color: #f5c506;
            margin: 0;
            padding-top: 50px;
        }
        .preinfo{
            display: grid;
            grid-template-columns: 65% 35%;
            ul{
                font-size: 22px;
                color: #80807f;
                align-self: center;
            }
        }
    }
}

footer{
    box-shadow: 0px -2px 10px #000000;
    background-color: #4c4c4c;
    .footer{
        color: #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 5px 0;
        .footlogo{
            img{
                width: 54px;
                height: auto;
            }
            display: grid;
            grid-template-columns: 15% 85%;
            align-items: center;
            .title{
                margin: 0;
                font-size: 29px;
                text-transform: uppercase;

            }
        }
        .cssauthor{
            justify-self: right;
            font-size: 17px;
        }
    }
}